
/* Globals */
:root {
  --font-sans: gordita, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-color-main: #000;
  --font-color-footer: #9ca6af;
  --color-secondary: #333;
  --color-link: #796eff;
  --color-link-active: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
}

body {
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 32px;
}

h1 {
	font-size: 2.8125rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.2rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover,
a:active {
	border-bottom: 2px solid var(--color-link-active);
	color: var(--color-link-active);
}

/**
 * Header
 */
.site-header {
  padding: 1rem;
  text-align: center;
}

.site-header__logo {
	text-align: left;
}

.site-header__logo a:active,
.site-header__logo a:hover {
	border-bottom: transparent;
}

.site-header__logo__image {
	height: 22px;
	width: 112px;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

/**
 * Footer
 */
.site-footer {
	margin-top: 50px;
	padding: 1rem;
	background: #151b26;
  color: var(--font-color-footer);
  font-family: var(--font-serif);
  font-size: 14px;
  text-align: right;
}

.site-footer a {
	color: #fff;
}
.site-footer a:active,
.site-footer a:hover {
	border-bottom: 2px solid #fff;
}
